[Unit]
Description=Lavalink Audio Server,remember to replace <your_user> with your user name.
After=network.target

[Service]
Type=simple
User=your_user
WorkingDirectory=/home/your_user/kizumi  #this_repo_folder_or_whatever_you_set
ExecStart=/usr/bin/java -jar /home/your_user/kizumi/Lavalink.jar   
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
