[Unit]
Description=Lavalink Audio Server
After=network.target

[Service]
Type=simple
User=your_user  #your_actual_user_name
WorkingDirectory=/home/your_user/kizumi  #this_repo_folder_or_whatever_you_set
ExecStart=/usr/bin/java -jar /home/your_user/kizumi/Lavalink.jar   #also_the_repo_path_to_lavalink.jar
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
